<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8"/>
    <title>DotA 2 Item Explorer 7.28c</title>

    <link rel="stylesheet" href="static/mvp.css">
    <link rel="stylesheet" href="static/app/dota2-item-explorer.css">
</head>

<body>

<main id="app">
    <section>
        <header>
            <h2>DotA 2 Item Explorer 7.28c&nbsp;🔍</h2>
        </header>
    </section>

    <section>
        <p><b>Stat Filter</b></p>
    </section>

    <section>
        <div style="padding: 10px" v-for="stat in stats">
            <input type="checkbox" v-bind:value="stat" v-model="filterStats">
            <label>{{stat}}</label>
        </div>
    </section>

    <article v-if="filterStats.length">
        <aside>
            <p>
                <b>Selected Stats:</b>
                <span v-for="(stat, index) in filterStats">
                    <span v-if="index !== 0">, </span>
                    <span>{{ stat }}</span>
                </span>
            </p>
        </aside>
    </article>
    <section>
        <p>
            ☝️ Select stats to add new table columns.
        </p>
    </section>

    <section>
        <p>
            👇 Click table headers to sort.
        </p>
    </section>

    <section>

        <table>
            <thead>
            <th></th>
            <th id="name-header" class="sort-header" v-on:click="sortItems($event)">
                Name&nbsp;
                <span v-if="sortName !== null">
                    <span v-if="sortName">⬇️</span>
                    <span v-else>⬆️️</span>
                </span>
            </th>

            <th id="price-header" class="sort-header" v-on:click="sortItems($event)">
                Price&nbsp;
                <span v-if="sortPrice !== null">
                    <span v-if="sortPrice">⬇️</span>
                    <span v-else>⬆️️</span>
                </span>
            </th>

            <th :id="stat" class="sort-header" v-for="stat in filterStats" v-on:click="sortItems($event)">
                {{ stat }}&nbsp;
                <span v-if="sortStatKey === stat">
                    <span v-if="sortStat">⬇️</span>
                    <span v-else>⬆️️</span>
                </span>
            </th>

            <th
                    :id="'cost-per-' + stat" class="sort-header"
                    v-for="stat in filterStats"
                    v-on:click="sortItems($event)"
            >
                Cost per {{ stat }}
                <span v-if="sortPriceStatKey === stat">
                    <span v-if="sortPriceStat">⬇️</span>
                    <span v-else>⬆️️</span>
                </span>
            </th>

            <th>Stats</th>
            </thead>

            <tbody>
            <tr v-for="item in filteredItems">

                <td>
                    <img :src="item.imageUrl" v-on:mouseover="mouseOver" v-on:mouseout="mouseOut" :id="item.id">

                    <img v-show="activeTooltip === item.id" :src="'static/images/' + item.id + '.png'"
                         style="zindex: 100; position: absolute; width: 500px;"/>
                </td>

                <td>{{ item.name }}</td>

                <td>{{ item.price }}</td>

                <td v-for="stat in filterStats">
                    {{ item.statsObject[stat] }}
                </td>

                <td v-for="stat in filterStats">
                    {{ Math.round(item.price / nonNumericToNumeric(item.statsObject[stat])) }}
                </td>

                <td v-html="item.statsHtml"></td>

            </tr>
            </tbody>
        </table>

    </section>

    <br><br><br><br><br><br><br><br><br>
    <hr>
    <footer>
        <p>
            <small>Now go rush Dagon!</small>
        </p>
    </footer>

</main>


</body>

<script type="module" src="static/app/index.js"></script>

</html>